.ember-application {
  margin: 0;
}

.container {
  margin: 20px;
  text-align: center;
}

.container a {
  text-decoration: none;
}

.nav {
  background-color: rgb(149, 149, 149);
  padding: 2px;
}

.nav h2 {
  margin: 3px;
}

.left-nav{
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

.right-nav {
  vertical-align: middle;
  float: right;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 5px;
  padding-top: 6px;
  margin-right: 10px;
}

.header {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.form {
  margin: 30px;
}

.form-control {
  min-width: 300px;
}

.form-input {
  margin: 15px;
}

.hike-index {
  padding: 10px;
}

.hike-container {
  margin-left: 40px;
  margin-bottom: 40px;
}

.edit-hike {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.index-title {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.hike-show {
  padding-bottom: 35px;
}

.hike-info {
  padding: 5px;
}

textarea {
  min-height: 70px;
}
