<div class="header">
  Great Hikes Around Town!
</div>

<div class="hike-container">
  {{#each model as |hike|}}
    <div class="hike-index">
      <div>{{link-to hike.name 'hikes.show' hike class="index-title"}}</div>
      <div>{{hike.location}}</div>
    </div>
  {{/each}}
</div>
