<div class="header">
  Great Hikes Around Town!
</div>

<div>
  {{#each model as |hike|}}
    <div class="hike-index">
      <div>{{link-to hike.name 'hikes.show' hike}}</div>
      <div>{{hike.location}}</div>
      <div class="edit-hike">{{link-to "Edit" 'hikes.edit' hike}}</div>
    </div>
  {{/each}}
</div>
