<div class="container text-center">
  <div class="well">
    <h3 class="hike-title">
      {{hike.name}}
    </h3>
    <div class="location">
      {{hike.location}}
    </div>
    <div class="description">
      {{hike.description}}
    </div>
    {{#if hike.website}}
    <div>
      Want more info? feel free to check out their
    <a class="website" href="{{hike.website}}">
      website
    </a>
    </div>
    {{/if}}
  </div>

  <a href="./hikes">Back to hikes</a>
</div>
